body {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  margin-bottom: 100px;
}

h1 {
  font-family: Helvetica, Arial;
  font-size: 100pt;
  color: #FFFFFF;
  font-weight: bold;
}

h2 {
  font-family: Helvetica, Arial;
  font-size: 50pt;
  color: #FFFFFF;
  font-weight: normal;
}

p {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 20px;
}

a {
  font-size: 24px;
  font-weight: 500;
  color: blue;
  display: block;
  margin-bottom: 25px;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: blue;
}

article {
  margin-left: 20px;
}

@media only screen and (max-width: 480px) {
  article {
    max-width: 90%;
  }
}

@media only screen and (min-width: 960px) {
  article {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1400px) {
  article {
    max-width: 60%;
  }
}
